<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="/static/uikit-2/css/uikit.almost-flat.min.css">
        <link rel="stylesheet" href="/static/uikit-2/css/components/datepicker.almost-flat.min.css">
        <script src="/static/uikit-2/js/uikit.min.js"></script>
        <script src="/static/uikit-2/js/components/datepicker.min.js"></script>
        <script src="/static/js/hotshot.js"></script>
        <title>Gorący strzał</title>
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>